.menu {
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bolder;
    display: flex;
}

.menu a {
    text-decoration: none;
    transition: transform 0.4s;
}

.social {
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.social:hover {
    transform: scale(1.3);
}

.menu-item {
    color: black;
    background-color: white;
    padding: 12px 24px;
    border-radius: 4px;
    margin-right: 14px;
}

.menu-item:hover{
    transform: scale(1.05);
}